<%- include("header")%>
    <div class="d-block container mt-5 border border-1 w-50 flex-wrap align-items-centre justify-content-centre">
        <h3 class="fs-1 mt-5 mb-4" style="font: 1em sans-serif; margin-left: 40%;">async</h3>
        <h1 class=" mt-5  mb-5" style="font-family:  'Allura', cursive; margin-left: 40%; font-size: 5vmax;">tic tac <br>toe</h1>
        <a href="/Login"><button class="btn btn-warning w-100 fs-4 text-light border border-1 align-centre p-2 mt-3 mb-3">Login</button></a>
        <a href="/register"><button class="btn btn-primary w-100 fs-4 text-light border border-1 align-centre p-2 mt-3 mb-3">Register</button></a>
    </div>
    <%- include("footer")%>